* {
	font-family: sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}

ul {
	display: table;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	list-style-position: inside;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%
}

.mcl-row {
  display: flex;
}

.mcl-column-50 {
  flex: 50%;
}

.payment-method-moreinfo {
    border: 1px;
    border-style: solid;
    padding: 2px;
    line-break: 2px;
}